

.c-cartao {
    border-radius: 25px;
    border: 1px solid lightgray;
    margin: 0 auto;
    padding: 10px 20px 25px;
    

    /* Animação */
    transition-property: transform;
    transition-duration: .25s;
}

.c-cartao:hover {
    transform: translateY(-5px) scale(1.05);
}

.c-cartao__titulo {
    padding: 0;
    font-size: 1.85rem;
}

.c-cartao__corpo {
   padding: 0;
   font-size: 1.25rem; 
}