

.c-botao {
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 15px 0;
    width: 100%;

    /* Animação */
    transition-property: transform background-color;
    transition-duration: 1s;
}

.c-botao:hover {
    background-color: orangered;
    transform: translateY(-5px);
}
